
.btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555;
    &:hover, 
      &:focus {
        color: lighten(#555, 20%);
        border-color: lighten(#555, 20%);
      }
  }
  
  .upload-wrapper{
    display: relative;

  }
  .upload-logo{
    width: 27px;
  }
  /* input file style */
  
  .input-file {
    width: 52%;
    border: 1px dashed #999;
    z-index: -1;
    padding: 12px;
    border-radius: 5px;
    display: block;
    margin: 12px auto;
  }